#container
	%h1 AIESEC McMaster Member Application
	%h3 Admin
	%table.list
		%tr.bold
			%th
			%th Id
			%th Full Name
			%th Mac Email
			%th Student Number
			%th Created At

		- candidates.each do|c|
			%tr
				%td
					%a{:href => "/admin/#{c.id}" } View
				%td= c.id
				%td= c.full_name
				%td= c.mac_email
				%td= c.stud_num
				%td= c.created_at