!!!  
%html  
	%head  
		%title= c[:full_name]
		%link(rel="stylesheet" href="/css/reset.css")  
		%link(rel="stylesheet" href="/css/styles.css")  
	%body
		#container
			%h1= c[:full_name]

			%hr

			%h3.italic.underline General Info

			%table.candidate
				- fields_info.each do |field, label|
					%tr
						%td.bold= label
						%td= c[field]


			%h3.italic.underline Long Answer Questions

			- fields_questions.each do |field, label|
				%h4= label
				%p= c[field]

			%h3.italic.underline Availability

			- if fields_availability
				- fields_availability.each do |field, label|
					- if c[field]
						%span= label
						%br
			- else
				%span Not available. Schedule alternate appointment.

			%br
			%hr
			- fields_created_at.each do |field, label|
				%p.italic Created at #{c[field]}