%form{:action => "#{action}", :method => "post"}
	#container
		%h1 AIESEC McMaster Member Application
		%h3 Detailed Response

		- fields.to_a.each_with_index do |(field, label), index|
			.field
				%label{:for => "#{field}"} #{label}:
				%br
				%textarea{:type => "text", :rows => 4, :name => "#{field}", :class => "#{flash[field] ? 'highlight' : ''}", :value => session[field], :tabindex => index+1} #{session[field]}
				- if flash[field]
					%p.error= flash[field]

	= haml :footer, :layout => false, :locals => {:pagenum => "#{pagenum}"}