%form{:action => "#{action}", :method => "post"}
	#container
		%h1 AIESEC McMaster Member Application
		%h3 Availability
		
		- fields.to_a.each_with_index do |(field, label), index|
			.field
				%label{:for => "#{field}"} #{label}:
				%input{:type => "textarea", :name => "#{field}", :class => "#{flash[field] ? 'highlight' : ''}", :value => c[field], :tabindex => index+1}
				- if flash[field]
					%p.error= flash[field]
					
	= haml :footer, :layout => false, :locals => {:pagenum => "#{pagenum}"}