%form{:action => "#{action}", :method => "post"}
	#container
		%h1 AIESEC McMaster Member Application
		%h3 Availability
		
		- fields.to_a.each_with_index do |(field, label), index|
			.field
				%label{:for => "#{field}"} #{label}:
				%input{:type => "textarea", :name => "#{field}", :class => "#{flash[field] ? 'highlight' : ''}", :value => c[field], :tabindex => index+1}
				- if flash[field]
					%p.error= flash[field]

		.grid hello
					
	= haml :footer, :layout => false, :locals => {:pagenum => "#{pagenum}"}

:javascript
	$( document ).ready(function() {
		for(var i = 0; i < 5; i++) {
			for(var j = 0; j < 5; j++) {
				$("div.grid").append("<div class='square' style='left:" + i*20 + "px; top:" + j*20 + "px;'>&nbsp;</div>");
			}
		}
	});